{% extends 'base.html' %}

{% block errors %}
{% if login_form.errors %}
<div class="alert alert-danger" role="alert">
  <ul>
  {% for field, errors in login_form.errors.items %}
    {% for error in errors %}
      <li>{{error}}</li>
    {% endfor %}
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<form class="form" action="{% url 'user:login' %}" method="post">
  {% csrf_token %}
  {{login_form.as_p}}
  <input type="submit" class="btn btn-success" value="Login">
  <a class="btn btn-danger" href="{% url 'user:register' %}">Register</a>
</form>
{% endblock %}
